.card-item {
    width: 266px !important;
    border: 0.5px solid #C4C4C4;
    height: 273px;
    padding: 0.875rem 1.25rem;
    overflow: hidden;
    border-radius: 6px !important;
    background-color: #fff;
}